---
http_interactions:
- request:
    method: get
    uri: http://api.nytimes.com/svc/topstories/v1/technology.json?api-key=92dd6c46e1b06ed5d04720a8033b8db2:3:73751086
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-03.mashery.com
      X-Amz-Request-Id:
      - 04EF2F346485E7DD
      Last-Modified:
      - Sun, 13 Dec 2015 01:05:19 GMT
      Etag:
      - '"9be61273ee3203e2b2a0cedd5de5e663"'
      Content-Type:
      - text/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2015 The New York Times Company.
        All Rights Reserved.","section":"technology","last_updated":"2015-12-12T20:05:07-05:00","num_results":29,"results":[{"section":"Science","subsection":"","title":"Artificial-Intelligence
        Research Center Is Founded by Silicon Valley Investors","abstract":"The investors
        \u2014 including Elon Musk, Peter Thiel and Reid Hoffman \u2014 said they
        planned to commit $1 billion to the project long-term, but only small sums
        to start.","url":"http:\/\/www.nytimes.com\/2015\/12\/12\/science\/artificial-intelligence-research-center-is-founded-by-silicon-valley-investors.html","byline":"By
        JOHN MARKOFF","item_type":"Article","updated_date":"2015-12-11T16:48:30-5:00","created_date":"2015-12-11T16:48:38-5:00","published_date":"2015-12-12T00:00:00-5:00","material_type_facet":"News","kicker":"","des_facet":["Artificial
        Intelligence","Research"],"org_facet":"","per_facet":"","geo_facet":"","multimedia":[{"url":"http:\/\/static01.nyt.com\/images\/2015\/12\/12\/science\/12valley-web\/12valley-web-thumbStandard.jpg","format":"Standard
        Thumbnail","height":75,"width":75,"type":"image","subtype":"photo","caption":"Elon
        Musk, the chief of Tesla, is among the investors behind a new artificial-intelligence
        research center.","copyright":"Eric Piermont\/Agence France-Presse \u2014
        Getty Images"},{"url":"http:\/\/static01.nyt.com\/images\/2015\/12\/12\/science\/12valley-web\/12valley-web-thumbLarge.jpg","format":"thumbLarge","height":150,"width":150,"type":"image","subtype":"photo","caption":"Elon
        Musk, the chief of Tesla, is among the investors behind a new artificial-intellige[...]
