---
http_interactions:
- request:
    method: get
    uri: http://api.seatgeek.com/2/events?datetime_local.gte=2015-12-12&datetime_local.lte=2015-12-13&venue.city=Boston
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1c06386f44936e20b492c97f634b2a631ace0df3"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"per_page":10,"total":23,"page":1,"geolocation":null},"events":[{"links":[],"id":2848010,"stats":{"listing_count":2,"average_price":5.0,"lowest_price_good_deals":null,"lowest_price":3.0,"highest_price":7.0},"title":"Stony
        Brook Seawolves at Northeastern Huskies Basketball","announce_date":"2015-10-09T00:00:00","score":0.36208,"date_tbd":false,"type":"ncaa_basketball","datetime_local":"2015-12-12T16:00:00","visible_until_utc":"2015-12-13T01:00:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":1000000,"name":"sports"},{"parent_id":1000000,"id":1030000,"name":"basketball"},{"parent_id":1030000,"id":1030200,"name":"ncaa_basketball"}],"performers":[{"stats":{"event_count":21},"name":"Northeastern
        Huskies Basketball","short_name":"Northeastern","url":"https://seatgeek.com/northeastern-huskies-basketball-tickets","type":"ncaa_basketball","image":null,"home_team":true,"home_venue_id":4208,"primary":true,"score":0.42775,"images":{},"slug":"northeastern-huskies-basketball","taxonomies":[{"parent_id":null,"id":1000000,"name":"sports"},{"parent_id":1000000,"id":1030000,"name":"basketball"},{"parent_id":1030000,"id":1030200,"name":"ncaa_basketball"}],"has_upcoming_events":true,"id":6631},{"away_team":true,"stats":{"event_count":22},"name":"Stony
        Brook Seawolves Basketball","short_name":"Stony Brook","url":"https://seatgeek.com/stony-brook-seawolves-basketball-tickets","type":"ncaa_basketball","image":null,"home_venue_id":6401,"slug":"stony-brook-seawolves-basketball","score":0.32846,"images":{},"taxonomies":[{"parent_id":null,"id":1000000,"name":"sports"},{"parent_id":1000000,"id":1030000,"name":"basketball"},{"parent_id":1030000,"id":1030200,"name":"ncaa_basketball"}],"has_upcoming_events":true,"id":6642}],"url":"https://seatgeek.com/stony-brook-seawolves-at-northeastern-huskies-basketball-tickets/ncaa-basketball/2015-12-12-4-pm/2848010/","created_at":"2015-10-09T00:00:00","venue":{"city":"Boston","name":"Matthews
        Arena","extended_address":"Boston, MA 02115","url":"https://seatgeek.com/venues/matthews-arena/tickets/","country":"US","display_location":"Boston,
        MA","links":[],"slug":"matthews-arena","state":"MA","score":0.31003,"postal_code":"02115","location":{"lat":42.3415,"lon":-71.0849},"address":"238
        Saint Botolph Street","timezone":"America/New_York","id":4208},"short_title":"Stony
        Brook at Northeastern","datetime_utc":"2015-12-12T21:00:00","datetime_tbd":false},{"links":[],"id":2651474,"stats":{"listing_count":1,"average_price":101.0,"lowest_price_good_deals":101.0,"lowest_price":101.0,"highest_price":101.0},"title":"Blue
        Man Group - Boston","announce_date":"2015-06-19T00:00:00","score":0.49376,"date_tbd":false,"type":"theater","datetime_local":"2015-12-12T17:00:00","visible_until_utc":"2015-12-13T02:00:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":3000000,"name":"theater"}],"performers":[{"stats":{"event_count":1488},"name":"Blue
        Man Group","short_name":"Blue Man Group","url":"https://seatgeek.com/blue-man-group-tickets","type":"theater","image":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/blue-man-group-6cdc66/5194/huge.jpg","home_venue_id":null,"primary":true,"score":0.40122,"images":{"huge":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/blue-man-group-6cdc66/5194/huge.jpg"},"slug":"blue-man-group","taxonomies":[{"parent_id":null,"id":3000000,"name":"theater"}],"has_upcoming_events":true,"id":5194,"genres":[{"slug":"experimental","primary":true,"name":"experimental"}]}],"url":"https://seatgeek.com/blue-man-group-boston-tickets/theater/2015-12-12-5-pm/2651474/","created_at":"2015-06-19T00:00:00","venue":{"city":"Boston","name":"Charles
        Playhouse","extended_address":"Boston, MA 02116","url":"https://seatgeek.com/venues/charles-playhouse/tickets/","country":"US","display_location":"Boston,
        MA","links":[],"slug":"charles-playhouse","state":"MA","score":0.42546,"postal_code":"02116","lo[...]
[...]
