---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.io/forecast/df1dfcd5377380fa28d44f0ebdbd8f7f/42.2848,-71.0741
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Forecast-Api-Calls:
      - '16'
      X-Response-Time:
      - 157.404ms
      X-Hostname:
      - 59.api
    body:
      encoding: UTF-8
      string: '{"latitude":42.2848,"longitude":-71.0741,"timezone":"America/New_York","offset":-5,"currently":{"time":1449956799,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","nearestStormDistance":32,"nearestStormBearing":133,"precipIntensity":0,"precipProbability":0,"temperature":54.7,"apparentTemperature":54.7,"dewPoint":38.64,"humidity":0.55,"windSpeed":4.03,"windBearing":254,"visibility":10,"cloudCover":0.49,"pressure":1019.91,"ozone":299.78},"minutely":{"summary":"Partly
        cloudy for the hour.","icon":"partly-cloudy-night","data":[{"time":1449956760,"precipIntensity":0,"precipProbability":0},{"time":1449956820,"precipIntensity":0,"precipProbability":0},{"time":1449956880,"precipIntensity":0,"precipProbability":0},{"time":1449956940,"precipIntensity":0,"precipProbability":0},{"time":1449957000,"precipIntensity":0,"precipProbability":0},{"time":1449957060,"precipIntensity":0,"precipProbability":0},{"time":1449957120,"precipIntensity":0,"precipProbability":0},{"time":1449957180,"precipIntensity":0,"precipProbability":0},{"t[...]
