---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/127.0.0.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Wed, 02 Dec 2015 07:06:58 GMT
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9998'
      X-Ratelimit-Reset:
      - '3573'
    body:
      encoding: UTF-8
      string: |
        {"ip":"127.0.0.1","country_code":"","country_name":"","region_code":"","region_name":"","city":"","zip_code":"","time_zone":"","latitude":0,"longitude":0,"metro_code":0}
  recorded_at: Sat, 12 Dec 2015 22:11:53 GMT
[...]
- request:
    method: get
    uri: https://api.forecast.io/forecast/df1dfcd5377380fa28d44f0ebdbd8f7f/42.2848,-71.0741
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Forecast-Api-Calls:
      - '20'
      X-Response-Time:
      - 133.111ms
      X-Hostname:
      - 70.api
    body:
      encoding: UTF-8
      string: '{"latitude":42.2848,"longitude":-71.0741,"timezone":"America/New_York","offset":-5,"currently":{"time":1449962248,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","nearestStormDistance":39,"nearestStormBearing":167,"precipIntensity":0,"precipProbability":0,"temperature":49.62,"apparentTemperature":49.62,"dewPoint":36.9,"humidity":0.61,"windSpeed":1.98,"windBearing":236,"visibility":10,"cloudCover":0.66,"pressure":1020.07,"ozone":301.65},"minutely":{"summary":"Mostly
        cloudy for the hour.","icon":"partly-cloudy-night","data":[{"time":1449962220,"precipIntensity":0,"precipProbability":0},{"time":1449962280,"precipIntensity":0,"precipProbability":0},{"time":1449962340,"precipIntensity":0,"precipProbability":0},{"time":1449962400,"precipIntensity":0,"precipProbability":0},{"time":1449962460,"precipIntensity":0,"precipProbability":0},{"time":1449962520,"precipIntensity":0,"precipProbability":0},{"time":1449962580,"precipIntensity":0,"precipProbability":0},{"time":1449962640,"precipIntensity":0,"precipProbability":0},{"t[...]
