---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.io/forecast/df1dfcd5377380fa28d44f0ebdbd8f7f/42.2848,-71.0741
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Forecast-Api-Calls:
      - '4'
      X-Response-Time:
      - 168.550ms
      X-Hostname:
      - 36.api
    body:
      encoding: UTF-8
      string: '{"latitude":42.2848,"longitude":-71.0741,"timezone":"America/New_York","offset":-5,"currently":{"time":1449954724,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","nearestStormDistance":31,"nearestStormBearing":123,"precipIntensity":0,"precipProbability":0,"temperature":56.14,"apparentTemperature":56.14,"dewPoint":37.79,"humidity":0.5,"windSpeed":4.3,"windBearing":261,"visibility":10,"cloudCover":0.43,"pressure":1019.69,"ozone":300.08},"minutely":{"summary":"Partly
        cloudy for the hour.","icon":"partly-cloudy-night","data":[{"time":1449954720,"precipIntensity":0,"precipProbability":0},{"time":1449954780,"precipIntensity":0,"precipProbability":0},{"time":1449954840,"precipIntensity":0,"precipProbability":0},{"time":1449954900,"precipIntensity":0,"precipProbability":0},{"time":1449954960,"precipIntensity":0,"precipProbability":0},{"time":1449955020,"precipIntensity":0,"precipProbability":0},{"time":1449955080,"precipIntensity":0,"precipProbability":0},{"time":1449955140,"precipIntensity":0,"precipProbability":0},{"t[...]
[...]
